body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e9ebee;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #3b5998;
  align-items: center;
	color: white;
}

header nav, main{
  margin: 0 250px 0 250px;
}

main {
  margin-bottom: 100px;
}

.nav-title {
  display: flex;
  color: white;
  align-items: center;
}

.nav-title.page-title {
  font-size: 35px;
  margin-right: 2px;
}

.nav-title.register-button {
  margin-left: 10px;
  padding: 10px;
  background-color: #42b72a;
  border: none;
}

.nav-select select{
  appearance: none;
}

.nav-option {
  color: white;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content.area {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.main-content.image {
  width: 100%;
}

.main-content.image-intro {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.main-content.start-button {
  margin-top: 50px;
}
